#loginForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-image: url(); */
}
#image-avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px 0;
}
#loginForm>span{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}
#email,#password{
    height: 40px;
    width: 300px;
    margin-bottom: 10px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 18px;
}
#loginForm>button{
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 6px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}
#loginForm>button:hover{
    background-color: black;
    color: white;
}
.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.473);
    border-radius: 10px;
}
.header>p{
    font-size: 20px;
    font-weight: 700;
}
.header>button{
    font-size: 16px;
    font-weight: 600;
    color: red;
    border: 2px solid red;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}
.header>button:hover{
    background-color: red;
    color: white;
}

/* تصميم الحاوية */
#data-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* تصميم العناصر */
  .user-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-item:hover {
    background-color: #e9ecef;
    border-color: #ccc;
  }
  
  /* نص عند عدم وجود بيانات */
  #data-container:empty::before {
    content: "لا توجد بيانات لعرضها.";
    color: #777;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }